// src/styles/_variables.scss

$gray-100: #f8f9fa;
$gray-100: #f2f4f6;
$shadow-header: 0 1px 1px -1px rgba(0,0,0,0.25), 0 2px 4px -2px rgba(0,0,0,0.1);
$site-header-background: #f8f9fa;
$site-header-background: #ffffff;
$left-nav-background: #ebeef1;
$left-nav-background: #1f2037;
// $left-nav-background: #041e42;
// $left-nav-background: #171950;

$yellow:          #ffc107;
$orange:          #fd7e14;
$blue:            #007bff;
$maastricht-blue: #041e42;
$dark-blue:       #1C2D45;
$biscay-blue:     #173560;
$blue-oblivion:   #28468f;
$azure-blue:      #26a8ff;
$de-france-blue:  #308ad9;
$iceberg-blue:    #F2F7FF;
$titan-white:     #f9f9fb;

$left-nav-closed-width: 4rem;
$left-nav-open-width: 15rem;

$content-inset: 1rem;
